@model Categories
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/images/categories/@Model.ImageUrl" /></td>
                    <td>@Model.Name</td> 
                    <td>
                        <a class="btn btn-success" asp-area="Admin" asp-controller="category" asp-action="index" >Back</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>