@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
	Layout=null;
}
	

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Assets/style/resetpassword.css">
    <title>resetpassword</title>
</head>
<body style="background-image: url(../Assets/images/Motion_Made_Free_Loop_animated_background_Education_Study_Table_Teacher_Day_Back_to_School.gif);">
   
	<a asp-controller="home" asp-action="index" style="position:fixed; top:20px;right:20px;text-decoration:none; align-items:center;">
       <i class="fas fa-long-arrow-alt-right"></i>
		<i class="fas fa-home" style="font-size:25px;color:brown;"></i>
		
	</a>
    <div class="row">
       
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered email to reset your password.</h6>
		<form method="post">
            <div class="form-group">
			<input asp-for="AppUser.Email" class="form-control">
			<p><label asp-for="AppUser.Email">Email</label></p>
			<button onclick="showSpinner()">Reset Password</button>
		</div>
		<div class="footer">
			<h5>New here? <a asp-controller="account" asp-action="register">Sign Up.</a></h5>
			<h5>Already have an account? <a asp-controller="account" asp-action="login">Sign In.</a></h5>
		
		</div>

        </form>
	</div>
</body>
</html>


