@model LoginVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<main>
    <section id="page-title">
        <div class="page-title-1area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Shop Grid</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="profile-authentication-area ptb-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-8 col-md-8 ">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form method="post">
                        
                            <div class="form-group">
                                <label asp-for="@Model.Email">Email</label>
                                <input asp-for="@Model.Email" class="form-control" placeholder="Email">
                                <span class="text text-danger" asp-validation-for="Email"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Password">Password</label>
                                <input asp-for="@Model.Password" class="form-control" placeholder="Password">
                                <span class="text text-danger" asp-validation-for="Password"></span>

                            </div> 
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6 remember-me-wrap">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="RememerMe">
                                        <label class="form-check-label" asp-for="RememerMe">Remember me</label>
                                    </div>
                                </div>
                              
                            </div>
                             <p class="description"> Don't have an account? <a asp-controller="account" asp-action="register" class="text-primary">Register</a></p>
                            <p class="description"> Forgot Password? <a asp-controller="account" asp-action="ForgotPassword" class="text-primary">ForgotPassword</a></p>

                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>