<main>

    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Privacy Policy</h1>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <div class="privacy-policy-area ptb-100">
        <div class="container">
            <div class="privacy-policy-content">
                <h5>Intellectual property indemnity</h5>
                <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make <a href="#">available</a> on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, company name. We will collect personal <strong>identification</strong> information from Users only if they voluntarily consent such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
                <h5>General permission to use and access and use limitations</h5>
                <p>This site is provided by <strong>Patoi</strong>. <strong>Patoi</strong> collects information in several ways from different parts of this site.</p>
                <p>
                    <strong>1.</strong> Complimentary ground shipping within 1 to 7 business days<br>
                    <strong>2.</strong> In-store collection available within 1 to 7 business days<br>
                    <strong>3.</strong> Next-day and Express delivery options also available<br>
                    <strong>4.</strong> Purchases are delivered in an orange box tied with a Bolduc ribbon, with the exception of certain items<br>
                    <strong>5.</strong> See the delivery FAQs for details on shipping methods, costs and delivery times
                </p>
                <h5>Limitation of liability</h5>
                <p><strong>Patoi</strong> accepts the following payment methods:</p>
                <ul>
                    <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>, <strong>American Express</strong>, <strong>JCB</strong>, <strong>Visa Electron</strong>. The total will be charged to your card when the order is shipped.</li>
                    <li><strong>Patoi</strong> features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
                    <li>PayPal: Shop easily online without having to enter your credit card details on the website.Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="#" target="_blank">paypal.com.</a></li>
                </ul>
                <h5>Linking to this Site</h5>
                <p>Items returned within 14 days of their original shipment date in same as new condition will be eligible for a full refund or store credit. Refunds will be charged back form of payment used for purchase. Customer is responsible for shipping charges when making returns and shipping/handling fees of original purchase is non-refundable.</p>
                <h5>Intellectual property</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus, maximus vel augue sed, pharetra hendrerit orci. Vivamus sed massa in nibh imperdiet mattis quis sed augue. Pellentesque erat metus, vestibulum nec nisl.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
                <h5>Security and storage</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
                <ol>
                    <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>, <strong>American Express</strong>, <strong>JCB</strong>, <strong>Visa Electron</strong>. The total will be charged to your card when the order is shipped.</li>
                    <li><strong>Patoi</strong> features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
                    <li>PayPal: Shop easily online without having to enter your credit card details on the website.Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="#" target="_blank">paypal.com.</a></li>
                </ol>
                <p>Last updated: July 30, 2021 at 24:00 pm</p>
            </div>
        </div>
    </div>



</main>
