@model Team
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary=ModelOnly> </div>
            <div class="mb-3">
                <input asp-for="Photo" class="form-control" accept="image/*">
                <label asp-for="Photo" class="form-label">Photo</label>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Position" class="form-label">Position</label>
                <input asp-for="Position" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

