<main>

    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Order Tracking</h1>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> Order Tracking</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <div class="order-tracking-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="order-tracking-image">
                        <img src="~/images/dog.png" alt="dog">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="order-tracking-content">
                        <h3>Order Tracking</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta.</p>
                        <form method="post">
                            <div class="form-group mb-3">
                                <label>Order ID</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label>Billing email</label>
                                <input type="text" class="form-control">
                            </div>
                            <button type="submit">Track</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
