
@model List<Tag>
@{
    ViewData["Title"] = "Index";
}


<div class="container mt-5">
    <div class="btn btn-primary">
        <a asp-controller="tag" asp-action="Create">Create</a>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Setting</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Tag item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Tag" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="Tag" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }

    </tbody>
</table>
</div>
