@model Product
<div class="modal fade productsQuickView" id="productsQuickView" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="modal-body">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="image">
                            <img src="~/images/products/Model.Product.Image"
                                 alt="image" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="content">
                            <h3><a href="idii">Pet Brash</a></h3>
                            <div class="price">
                                <span class="new-price">$Model.Product.Price</span>
                                <span class="old-price">$200.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>
                                Model.Product.Desc
                            </p>
                            <div class="products-add-to-cart">
                                <div class="input-counter">
                                    <span class="minus-btn">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <input type="text" value="1" />
                                    <span class="plus-btn">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>
                                <button type="submit" class="default-btn">
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                            <a href="wishlist.html" class="add-to-wishlist"><i class="fa-solid fa-heart"></i> Add to wishlist</a>
                            <ul class="products-info">
                                <li><span>SKU:</span> 007</li>
                                <li>
                                    <span>Categories:</span>
                                    <a asp-controller="shop" asp-action="index">Brash</a>
                                </li>
                                <li><span>Availability:</span> In stock (7 items)</li>
                                <li><span>Tag:</span> Accessories</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
