* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
img{
  max-width: 100%;
    height: auto;
}
p {
  color: $secondary-color;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 700;
  font-family: $main-font, cursive;
}
.section-title {
  text-align: center;
  margin: {
    bottom: 50px;
    top: -6px;
  }
  h2 {
    margin-bottom: 0;
    font-size: 35px;
    font-family: $main-font, cursive;
    font-weight: 700;
  }
}
.default-btn {
  border: 0;
  z-index: 1;
  overflow: hidden;
  position: relative;
  padding: 11px 30px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  display: inline-block;
  color: white;
  transition: 0.5s;
  background-color: $primary-color;
  font: {
    size: 13px;
    family: $main-font, cursive;
  }
  &::before {
    top: 0;
    left: 0;
    height: 0;
    content: "";
    z-index: -1;
    width: 25.25%;
    position: absolute;
    transition: 0.5s ease-in-out;
    background-color: $black;
  }
  &::after {
    top: 0;
    left: 50%;
    height: 0;
    content: "";
    z-index: -1;
    width: 25.25%;
    position: absolute;
    transition: 0.5s ease-in-out;
    background-color: $black;
  }
  span {
    display: block;

    &::before {
      bottom: 0;
      height: 0;
      left: 25%;
      content: "";
      z-index: -1;
      width: 25.25%;
      position: absolute;
      transition: 0.5s ease-in-out;
      background-color: $black;
    }
    &::after {
      bottom: 0;
      left: 75%;
      height: 0;
      content: "";
      z-index: -1;
      width: 25.25%;
      position: absolute;
      transition: 0.5s ease-in-out;
      background-color: $black;
    }
  }
  &:hover {
    color: #fff;
    background-color: $primary-color;

    &::before,
    &::after {
      height: 100%;
    }
    span {
      &::before,
      &::after {
        height: 100%;
      }
    }
  }
}
