<main>
    <!-- Not Found Area -->
    <div class="not-found-area ptb-100">
        <div class="container">
            <div class="not-found-content">
                <img src="~/images/errorpage.png" alt="error-image">
                <h3>Page Doesn't Exist</h3>
                <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                <a asp-controller="home" asp-action="index" class="default-btn"><span>Back to Home</span></a>
            </div>
        </div>
    </div>
</main>